    .one{
        background-color: red;
      }
      .two{
        background-color: red;
      }
      #gr1{
        background-color: green;
      }
      #gr2{
        background-color: green;
      }
      .three{
        background-color: green;
      }
      .four{
        background-color: green;
      }
      .five{
        background-color: green;
      }
      .red{
        background-color: red;
      }
      #re1{
        background-color: red;
      }
      #re2{
        background-color: red;
      }
      #rr1{
        background-color: red;
      }
      #gg1{
        background-color: green;
      }
      #bb1{
        background-color:blue;
      }
      #yy1{
        background-color: yellow;
      }
      .blue{
        background-color: blue;
      }
      #bl1{
        background-color: blue;
      }
      #bl2{
        background-color: blue;
      }
      .six{
        background-color: yellow;
      }
      .seven{
        background-color: yellow;
      }
      .yellow{
        background-color: yellow;
      }
      #yl1{
        background-color: yellow;
      }
      #yl2{
        background-color: yellow;
      }
      .eight{
        background-color: blue;
      }
      .nine{
        background-color: blue;
      }
      #tb1{
        border-color: red;
      }
      #tb2{
        border-color:green;
      }
      #tb3{
        border-color:yellow;
      }
      #tb4{
        border-color: blue;
      }